/* Sign up style */

html, body {
	background-color: #edeff2;
}

.inset {
	padding:4%;
}

.google-button {
	width: 200px;
}

.birth-date{
	padding:3% !important;
}

.angular-google-map-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

md-content {
	height: 100%;
	width: 100%;
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}