
html{
	height:auto;
	background-color: #edeff2;
	background-image: url(../img/background.jpg);
	background-size: cover;
    background-attachment:fixed;
}

/* Sign up style */

.sign-up-container{
	height:100vh;
}

