
	<!--
	<input type="text" ng-model="ctrl.email" />
	<input type="button" ng-click="ctrl.getUserId()" value="OK" />
	<span>{{ctrl.user}}</span>
	<input type="Button" ng-click="ctrl.getUserData()" value="Get data"/>
	<span>{{ctrl.spanData}}</span>

	<a href="/signUp">click</a>



	<google-plus-signin clientid="702661689957-vmsgou0temc1nbmq7j6adf898s7f4tr3.apps.googleusercontent.com"></google-plus-signin>
	-->
<div class="inset" hide-xs></div>
<div class="sign-up-container" layout="row" layout-align="center start">
	<md-card flex-gt-sm="45" flex-gt-md="35" flex-gt-lg="30">
		<md-card-header>
		 <img class="md-card-image" src="img/logo_title.svg">
		</md-card-header>
		<md-card-content>
			<google-plus-signin clientid="702661689957-vmsgou0temc1nbmq7j6adf898s7f4tr3.apps.googleusercontent.com" ></google-plus-signin>
		</md-card-content>
	</md-card>
</div>