<div class="sign-up-container" layout="row" layout-align="center center">
	<md-card flex-gt-sm="60" flex-md="40" flex-gt-md="30">
		<md-card-content>
			<div layout-gt-sm="row">
				<md-input-container class="md-icon-float md-block" flex-gt-sm>

					<label>Name</label>
			        <md-icon md-svg-src="img/ic_person_24px.svg" class="name"></md-icon>

					<input ng-model="ctrl.user.firstName">
				</md-input-container>
			</div>

			<div layout-gt-sm="row">
				<md-radio-group layout="row" layout-align-gt-sm="start center" layout-align="center center" ng-model="ctrl.radio.gender" class="md-primary">
					<md-radio-button ng-repeat="g in ctrl.radioGender"
					     ng-value="g.label">{{g.label}}
					</md-radio-button>
				</md-radio-group>
				<div layout-align-gt-sm="center center" layout-align="center center">
					<md-datepicker layout-align="center center" ng-model="ctrl.user.birthDate" md-placeholder="Date of birth">
					</md-datepicker>
				</div>

			</div>

			<div layout-gt-sm="row">
			  <md-input-container class="md-block" flex-gt-sm>
			    <label>Address</label>
			    <md-icon md-svg-src="img/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			    <input ng-model="ctrl.user.address">
			  </md-input-container>
			  <md-input-container class="md-block" flex-gt-sm>
			        <label>Phone number</label>
		            <md-icon md-svg-src="img/ic_phone_24px.svg"></md-icon>
			        <input ng-model="ctrl.user.phoneNumber">
			  </md-input-container>
			</div>

			<div layout-gt-sm="row">
			  <md-input-container class="md-icon-float md-block" flex-gt-sm>
			    <label>National Id card number</label>
		       	<md-icon md-svg-src="img/ic_id_card_24px.svg"></md-icon>
			    <input ng-model="ctrl.user.idCardNumber">
			  </md-input-container>
			  <md-input-container class="md-icon-float md-block" flex-gt-sm>
			        <label>Driving license number</label>
			       	<md-icon md-svg-src="img/ic_car_24px.svg" class="drive"></md-icon>

			        <input ng-model="ctrl.user.drivingLicense">
			  </md-input-container>
			</div>

			<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="checkbox" class="md-primary">
				I understand and agree to the terms and conditions.
			</md-checkbox>

		</md-card-content layout-padding>
	</md-card>
</div>

